#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.towns {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    margin: 70px auto auto auto; 
}

.card {
    background: rgba(0, 0, 0, .7);
    padding: 30px;
    border-radius: 10px;
}

.card:hover {
    background: rgba(0, 0, 0, .9);
}

.card > h2 {
    padding: 0 0 15px 0;
}

.present {
    width: 80%;
    border-radius: 10px;
}

#kharkiv {
    position: relative;
}

p {
    line-height: 20px;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.town-image {
    width: 400px;
    border-radius: 10px;
    margin: 30px;
}

.search-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .9);
    animation: show 200ms;
    z-index: 102;
}

.modal-close {
    animation: close 200ms;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

@keyframes close {
    100% {
        opacity: .5;
        transform: scale(0);
    }
}

.search-modal-content {
    border-radius: 10px;
    padding: 30px;
    margin: 50px 0 0 450px;
}

.search-metro-btn {
    margin: 20px 0 0 0;
}

.search-metro-btn:hover {
    border-bottom: 1px solid darkcyan;
    padding: -2px;
}

.search {
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    outline: none;
    background: rgba(0, 0, 0, .8);
}

li {
    list-style: none;
    margin: 15px;
}

.hl {
    background: yellow;
}

.red {
    background: red;
    padding: 5px;
}

.green {
    background: green;
    padding: 5px;
}

.blue {
    background: blue;
    padding: 5px;
}

.options {
    font-size: 30px;
}

.metro {
    background: #000;
    color: green;
    border-radius: 50%;
    padding: 3px;
}

.card-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    margin: auto;
    z-index: 101;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: show 200ms;
}

.card-content {
    width: 800px;
    background: rgba(0, 0, 0, .7);
    padding: 30px;
    border-radius: 10px;
}

@media only screen and (max-width: 870px) {

    .towns {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 150px);
    }

    .card {
        padding: 15px;
    }

    .present {
        width: 70%;
    }

}

@media only screen and (max-width: 750px) {
    .towns {
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(3, 120px);
    }

    .card {
        padding: 7px;
    }

    .present {
        width: 40%;
    }
}
